<!---Initialize Home Page--->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <!---Initialize structure of Title and house picture--->
        <div class = "title">
            <h1>Email Spam Detector</h1>
        </div>
        <!---Links/buttons to other websites--->
        <div id = "menu-outer">
            
        </div>
        <!---Containerize main page for styling--->
        <div class = "page">
            <!---Containerize paragraph and form for styling--->
            <div class = "container">
                
                <br>
                <!---Initialize form structure and inputs, set method to "POST"--->
                <form action="{{ url_for('predict') }}" method="POST" class="info">
                    <input type="text" id="name" name="EmailInput" placeholder="Email Input" required="required"/><span style="color:red"> * </span>
                    <br>
                    
                    <br>
                    <button type="submit" class="btn">Predict</button>
                </form>
                <br> 
                <!---Set placeholder for prediction output--->
                <div class ="pred">
                    <p class = "result"><b>{{ prediction_text }}</b></p>
                </div>
            </div>
        </div>
    </body>
</html>